*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}
body{
    transition: 100ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-height: 100vh;
}
.color-name{
    font-size: 100px;
}